<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
  
{{>navbar}}
<!-- main header -->
<div class="container-fluid main_header" >
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                       <img src="https://assets.dochipo.com/editor/animations/404-error/b6463d8b-ac87-42a7-ad59-6584a19a77a8.gif" alt="raushani" class="img-fluid" >
                    </figure>
                   
                    <p>Welcome to weather app</p>
                    <h1>{{errorMsg}} </h1>
                    <a href="/"> <button>Go Back</button></a>
                </div>
                <!-- right side -->
                
            </div>
        </div>
    </div>
</div>
<!-- footer section -->
{{>footer}}
</body>
</html>